<a href="https://colab.research.google.com/github/ch00226855/CMP414765Fall2022/blob/main/Homework05_LogisticRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework 5 Logistic Regression

For this homework, you are given a data set on students' exam scores and whether they are admitted to a program. Please complete the following tasks to build a logistic regression model that can be used to predict future admissions.

**Please submit your work as a PDF file to Blackboard by Wednesday, November 2nd at 11:59 PM.**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
url = "https://raw.githubusercontent.com/ch00226855/CMP414765Fall2022/main/data/ExamScores.txt"
data = pd.read_csv(url, names=["Exam1", "Exam2", "Admitted"])
print("Shape:", data.shape)
data.head()

Shape: (100, 3)

       Exam1      Exam2  Admitted
0  34.623660  78.024693         0
1  30.286711  43.894998         0
2  35.847409  72.902198         0
3  60.182599  86.308552         1
4  79.032736  75.344376         1

(1) Split the data set into `data_train` (80%) and `data_test` (20%)

(2) Create a scatter plot for `data_train`. Use different colors to distinguish admitted students and not-admitted students.

(3) Use the `LogisticRegression` class from `sklearn` to train a logistic regression model on the training set.

(4) Visualize the decision boundary of the model.

(5) Calculate the accuracy, precision, and recall on the test set.