<a href="https://colab.research.google.com/github/ch00226855/CMP414765Fall2022/blob/main/Week01_PythonIntro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 1 Introduction to Python

## Why Python?

- Easy to get started
- Easy to read python code
- Come with powerful libraries for data science
- Support interactive coding

## Google Colaboratory (Colab)

- Supported by Google Cloud
- Free to use
- Connected with Google Drive

Get familiar with the environment:
- Menu
- Files tab
- Adding code / text cells
- Execute a code cell
- Save files in Google Drive
- Convert to PDF

## Set up Jupyter Notebook Environment Locally

- Python 3.x on Anaconda: https://www.anaconda.com/download/
- Most data science libraries are pre-installed (numpy, scipy, pandas, sklearn)
- Spyder: triditional IDE
- Jupyter Notebook: interactive programming environment

## Where to Find AI Projects?

- AI projects on Github: https://github.com/topics/artificial-intelligence-projects
- Data Science Compititions on Kaggle: https://www.kaggle.com/competitions

## Python Tutorial

### 1. Hello World

In [ ]:
# This prints Hello World
print("Hello World")

### 2. Variables
- Declaration
- Type

In [ ]:
# Variables
a = 4
b = -5
print(a + b)

In [ ]:
# Type is important in python
a2 = "4"
print(a2 + b)

In [ ]:
# Show the type of a variable
print(type(a))
print(type(a2))

In [ ]:
c = 1.5
d = True
print(type(c))
print(type(d))

In [ ]:
type(float(a))

### 3. Arithmetics

In [ ]:
# Arithmetics
# +, -, *, /
# Integer division
print(4 / 3) # gives a floating point number
print(4 // 3) # double division always give an integer
# Get remainder
print(5 % 3) # give the remainder of integer division
# Power
print(3 ** 2) # represents 3 to the power of 2 = 9
print(3 ** (1/2)) # square root of 3

Exercise: quadratic formula:

$x = \frac{-b \pm \sqrt{b^2 - 4ac}}{2a}$

In [ ]:
a = 1
b = 2
c = 3

# Ex. Use the quadratoc formula to find the solutions to ax^2 + bx + c = 0.

### 4. Assignment Operators

In [ ]:
a = 1
a += 1 # a = a + 1
print(a)
b, c, d = 2, 3, 4
b -= 5
c *= 10
d /= 2
print(b, c, d)

### 5. Logical Operators

In [ ]:
t, f = True, False
print(t, f)

In [ ]:
print(True or False) # "or" means or
print(True and False) # "and" means and
print(not True)
print(not False)

In [ ]:
# Comparisons: >, <, ==, !=, >=, <=
exp1 = (a > 5) and (b < 3)
print(a, b, exp1)

## 6. Strings.
Both `""` and `''` can be used to define strings in Python.

In [ ]:
str1 = "Hello"
str2 = 'World'
str3 = '3'
print(type(str3))
print(str1 + str2 + str3) # Use "+" to concatenate strings
print("My \n Name \n Is \t Liang.")

In [ ]:
print('I said "Good Morning"') # If the string contains "", then use '' to define the string
print("I said \"Good Morning\"")

In [ ]:
# Remove extra space at the beginning and the end of a string
data_value = "     Liang Zhao     "
my_name = "Liang Zhao"
print(data_value == my_name)
print(data_value.strip())
print(data_value.strip() == my_name)

In [ ]:
# Split a string
file_names = "Alex, Bob, Clare, David"
file_names.split(", ")

In [ ]:
# String formatting
float_num = 45.67898765
print(float_num)
print("%5.2f" % (float_num))
formatted_string = "Name: %10s | Score: %5d | Value: %.2f" % ("Alex", 89, 12.345)
print(formatted_string)
formatted_string = "Name: %10s | Score: %5d | Value: %.2f" % ("Bob", 9, 543.21)
print(formatted_string)

In [ ]:
# Combine strings
names = ["Alice", "Bob", "Charle", "David"]
string = ", ".join(names)
print(string)

### 7. Basic Data Structures
- List
- Set
- Tuple
- Dictionary

In [ ]:
# List
list1 = [1, 2, 3, 4, 6.5, "Monday", True]
print(list1)
list1.append(12)
print(list1)
val = list1.pop()
print(val)
print(list1)

In [ ]:
# Indexing
print(list1[0])
print(list1[1])
print(list1[-1])
print(list1[-2])
print(list1[2:5]) # the second index is exclusive
print(list1[:5]) # omitting the first index means starting from 0
print(list1[2:]) # omitting the second index means going to the end
print(list1[:])

In [ ]:
len(list1)

In [ ]:
# Set
set1 = {1, 2, 3, 3, 2, 1}
print(set1)

In [ ]:
# Tuple
tuple1 = (1, 2, 3)

# tuples are immutable
tuple1[2] = 5 # invalid statement

In [ ]:
# Dictionary: (key, value)
dict1 = {"Alex": "A",
         "Bob": "B", 
         "Clare": "C"}
print(dict1['Alex'])
print(dict1['Clare'])


### 8. Loops and Branches

In [ ]:
names = ['Alex', 'Clare', 'Bob']
# for name in names: # for (variable) in (list of values):
#     print(dict1[name]) # Use indentation (4 spaces) to indicate the loop body

for name in names:
    print("Name:", name, end=' ')
    print("Grade:", dict1[name])
print("Done.")

In [ ]:
a = 0
while a < 10:
    print(a)
    a += 1

In [ ]:
a = -2
if a > 0:
    print("Greater than zero.")
else: 
    print("Not greater than zero.")

In [ ]:
a = 2
b = 4
if a < 0:
    print("a less than zero")
elif b > 0: # "elif" means "else if"
    print("a not less than zero, and b greater than zero")
else:
    print("neither is greater than zero")

### 9. List Comprehensions

In [ ]:
list1 = [1, 2, 3, 4, 5]
# create a list whose values are 10 * values from list1:
# Solution 1:
list2 = []
for elt in list1:
    list2.append(10 * elt)
print(list2)

# Solution 2:
list2 = [ (10 * x) for x in list1   ] # list comprehension
print(list2)

In [ ]:
# Example: For each element in list1: change it to 0 if it is negative,  
# remove it if it is greater than 10
list1 = [1, -5, 20, 12, 0]
# Solution 1:
list2 = []
for x in list1:
    if x < 0:
        list2.append(0)
    elif x > 10:
        continue
    else:
        list2.append(x)
print(list2)

In [ ]:
list2 = [ x for x in list1 if x <= 10]
print(list2)
list2 = [ (y if y > 0 else 0) for y in list2]
print(list2)

### 10. Functions and Classes

In [ ]:
def sum_of_list(list1):
    sum = 0
    for x in list1:
        sum += x
    return sum

In [ ]:
print(list1)
sum_of_list(list1)

In [ ]:
# A function can be applied to different types of inputs
sum_of_list([1.2, 2.3, 3.4, 4.5, 5.6])
sum_of_list([True, True, False, False, True])
# sum_of_list(["ABC", "DEF", "FGH", "XYZ"])

In [ ]:
#  A function can return multiple values
def sum_and_product(list1):
    sum = 0
    product = 1
    for x in list1:
        sum += x
        product *= x
    return sum, product

In [ ]:
list1_sum, list1_product = sum_and_product(list1)
print(list1_sum, list1_product)

In [ ]:
result = sum_and_product(list1)
print(result)
print(result[0])
print(result[1])

In [ ]:
_, list1_product = sum_and_product(list1)
print(list1_product)
print(_)

Objects are passed to a function by reference.

In [ ]:
def implicit_list_mod(list1):
    list1[0] = 100

In [ ]:
implicit_list_mod(list1) # lists are passed in by reference
print(list1)

If a function takes in a variable (int, str, bool, float, etc.), it will create a copy of that variable. The original variable will not be affected. Variables are passed to a function by value.

In [ ]:
def variable_modification(x):
    x = 0

In [ ]:
x = 100
variable_modification(x) # the value of x cannot be modified inside the function
print(x)

In [ ]:
# Some parameters can have default values.
def addition(x, y=1):
    return x + y

In [ ]:
print(addition(1, 1))
print(addition(2))
print(addition(3))
print(addition(3, 2))

In [ ]:
print(addition(5, 6))
print(addition(10))
print(addition("123", "456"))

In [ ]:
class Student:

    def __init__(self, name, age):
        self.name = name
        self.age = age

    def print(self):
        print(self.name, " ", self.age)

In [ ]:
student1 = Student("Alex", 15)
student1.print()

## Example: Heights for Men in the US

In [ ]:
# 1. create two python lists containing average heights from 1900 to 1980
list_year = [1900, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980]
list_height = [170, 172.1, 173.1, 173.4, 176.1, 177.1, 177.3, 178.3, 179]
print(len(list_year), len(list_height))

In [ ]:
# 2. Plot a gragh
import matplotlib.pyplot as plt # import libraries
plt.plot(list_year, list_height, "rs")

In [ ]:
# Create a list that contains rate of change in list1
# how much is increased from 1900 to 1910?

# rate of change = (new value - old value) / old value

# Compare 1900 to 1910
(172.1 - 170) / 170 # 1.24%

(list_height[1] - list_height[0]) / list_height[0]

# Compare 1910 to 1920
(list_height[2] - list_height[1]) / list_height[1]

for k in range(len(list_height)-1): # k represents the index of the old value
    print("K:", k, "rate of change:", (list_height[k+1] - list_height[k]) / list_height[k])